<% unless @game_state.table.empty? %>

  <div class="player-actions">
    <%= form_for [@game, @current_player, @current_player.steps.new] do |f| %>
      <% if @game_state.discard_allowed?(@current_player) %>
        <% submit_text = "Discard" %>
      <% elsif @game_state.pick_up_allowed?(@current_player) %>
        <% submit_text = "Pickup" %>
      <% end %>

      <% if submit_text == "Discard" || submit_text == "Pickup" %>
        <%= f.submit submit_text, data: { disable_with: 'Don\'t think about pushing me again.' }, :class => 'button' %>
      <% end %>
    <% end %>
  </div>

<% end %>
