<p>
  <strong>
    <%= player_name(opponent) %>
    |
    Their Hand
    (<%= pluralize @game_state.player_state_for_player(opponent).hand.count, 'card' %>):
  </strong>
</p>

<div class="player-hand">
  <% @game_state.player_state_for_player(opponent).hand.cards.each do |card| %>
    <div class="card"></div>
  <% end %>
</div>
