<div class="content">
  <h1>Invite a friend</h1>

  <p>Send this link to the person you want to play with. Your game will start as soon as they click on the link.</p>
  <%= link_to "Your Friend's Link", join_game_path(id: @game.id) %>
</div>
