<div class="polling content">
  <h1>Durak / Game <%= @game.id %></h1>

  Current Player (SESSION):
  <%= player_name(@current_player) %>

  <% if !@game_state.over? %>
    <%= render "game_in_progress", game: @game, game_state: @game_state, current_player: @current_player %>
  <% else %>
    <%= render "game_over", game_state: @game_state %>
  <% end %>
</div>
